@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace localView "view.*";
@namespace view "live.cameleon.view.*";
@namespace ir "view.ir.*";
@namespace tf "flashx.textLayout.elements.*";
@namespace app "*";
@namespace views "live.cameleon.views.*";

@font-face {
    src:url("../fonts/HelveticaNeue-Regular.otf");
    fontFamily: "HelveticaNeue"; 
	fontStyle: "normal";
	fontWeight: "normal";
    embedAsCFF:true;
}

@font-face {
    src:url("../fonts/HelveticaNeue-Regular.otf"); 
    fontFamily: "Alternate"; 
	fontStyle: "normal";
	fontWeight: "normal";
    embedAsCFF:false;
}

@font-face {
    src:url("../fonts/HelveticaNeue-Italic.otf");
    fontFamily: "HelveticaNeue"; 
	fontStyle: "italic";
	fontWeight: "normal";
    embedAsCFF:true;
}

@font-face {
    src:url("../fonts/HelveticaNeue-Bold.otf");
    fontFamily: "HelveticaNeue"; 
	fontStyle: "normal";
	fontWeight: "bold";
    embedAsCFF:true;
}

@font-face {
    src:url("../fonts/HelveticaNeue-Bold.otf");
    fontFamily: "Alternate"; 
	fontStyle: "normal";
	fontWeight: "bold";
    embedAsCFF:false;
}

@font-face {
    src:url("../fonts/OpenSansEmoji.ttf");
    fontFamily: "OpenSansEmoji"; 
	fontStyle: "normal";
	fontWeight: "normal";
    embedAsCFF:true;
}

global {
	font-family:"HelveticaNeue";
	font-size:12;
	modal-transparency-blur: 4;
	modal-transparency: 0;
	modal-transparency-color:#000000;
	modal-background:#000000;
	color:#ADB1BC; 
	/*focus-color:#366b91;*/
	selection-color:#4F525B;
	/*background-color:#272A32;*/
	content-background-color:#272A32;
	chrome-color:#272A32;
}

.h3 {
	font-size:14;
}

.h2 {
	font-size:18;
}

.h1 {
	font-size:21;
}

.small {
	font-size:10;
}

.info {
	font-size:10;
	alpha:0.7;
}

mx|ToolTip {
	font-family:"_sans";
	background-color:#373b44;
	color:#ffffff;
	font-size:12;
}

s|TextInput {
	
	focus-thickness:0;
	border-width:0;
	border:0;
	borderVisible:false;
	
}

s|VScrollBar {
	skinClass: ClassReference("live.cameleon.views.skins.VScrollBarSkin");
}

s|List s|VScrollBar {
	skinClass: ClassReference("live.cameleon.views.skins.VScrollBarSkin");
}

view|ProgressBar {
	background-color:#3F424C;
	border-color:#222222;
}

view|ProgressBar .progressGreen{
	background-color:#18bc9c;
}

view|ProgressBar .progressWhite{
	background-color:#3F424C;
}

views|InfoLabel {
	font-size:11;
}

.facebookLink {
	color:#4267B2;
}

.facebookLink:over {
	color:#4267B2;
	text-decoration:underline;
}

.youtubeLink {
	color:#D40101;
}
